<?php
return array (
  'db' =>
  array (
    'driver' => 'Pdo',
    'dsn' => 'sqlite:/www/tmp/zf2-tutorial-apigility/data/album.sqlite',
    'adapters' =>
    array (
      'DB\\Album' =>
      array (
        'driver' => 'Pdo_Sqlite',
        'database' => 'data/album.sqlite',
      ),
    ),
  ),
);
